.register1{
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 320px;
    margin-top: 105px;
    margin-left: 560px;
} 
.register1 input {
    width: 280px;
    padding: 12px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.register1 h2{
    text-align: center;
    margin-top: -5px;
    margin-bottom: 25px;
    font-size: 32px;
    color : white
}
.register1 button{
  width: 305px;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;  
}
.register1 button:hover{
    background-color: #0056b3;
    transition: 0.5s;
}
.iogin_link{
    font-size: 16px;
}