/* ฟอนต์ */
body {
  font-family: 'Sarabun', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.nav {
  background-color: #3a5cd8; /* สีกรมเข้ม */
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  margin: 0 30px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.site-name {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.2rem;
}

.menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #ffd700;
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
        /* สีทองเมื่อ hover */
}

.fs-4{
  font-size: 22.275px;
  display: flex;
  left: 20px;
  
}

/* Responsive */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}

